<div class="row">
    <div class="col-sm-6">
        <form id = "static-form" method = "post">
            <div class="form-group">
                <label for="input_string">Input Text</label>
                <textarea class = "form-control" id = "input_string" name = "phrase" placeholder="Input String" >
                </textarea>
                <button type="submit" class="btn-default"> Submit</button>
            </div>

            <div class="form-group hidden" id="error-container">
                <div class="alert alert-danger text-goes-here">
                </div>
            </div>

            <div class="form-group hidden" id="result-container">
                <ol class="attemps" id="attemps">

                </ol>
            </div>
        </form>
    </div>
</div>